:root{
    --font-size: clamp(0.875rem, 1.5vw, 1rem);
    --paragraph-font-size: clamp(0.875rem, 2vw, 1rem);
    --padding-container: 2rem clamp(1rem, 4vw, 3rem);
    --padding-header: clamp(1.5rem, 4vw, 3rem);;
    --hover-color: hsl(300, 69%, 71%);
    --background-primary-color: hsl(257, 40%, 49%);
    --shadow-color: 0 0.3rem 0.8rem hsl(0, 0%, 32%);
    --primary-white-color: white;
    --one-rem: clamp(1rem, 4vw, 3rem);
    --margin-right: 5rem;
}
body{
    margin: 0;
    background-color: var(--background-primary-color);
    background-image: url(bg-desktop.svg);
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 100vh;
    font-family: 'Open Sans', sans-serif;
}
header{
    padding: var(--padding-header);
}
header img{
    width: clamp(7rem, 15vw, 12rem);
}
.container{
    padding: var(--padding-container);
}

figure{
    margin: 0;
    display: flex;
    color: var(--primary-white-color);
    align-items: center;
    gap: var(--margin-right);
}
figcaption{
    width: 45%; 
    padding-inline-end: clamp(1.5rem, 4vw, 2.5rem); 
}
figure img{
    width: 55%;
}
h1{
    font-size: clamp(1.5rem, 4vw, 2rem);
    margin-block-end: clamp(1rem, 3vw, 1.5rem);
    font-family: 'Poppins', sans-serif;
}
p{
    font-size: var(--paragraph-font-size);
    line-height: 1.6;
}
button{
    padding-inline: clamp(2rem, 5vw, 4rem);
    padding-block: var(--font-size);
    border-radius: 2rem;
    border: none;
    cursor: pointer;
    background-color: var(--primary-white-color);
    color: var(--background-primary-color);
    font-size: var(--font-size);
    box-shadow: var(--shadow-color);
}
button:hover{
    background-color:var(--hover-color);
    color: var(--primary-white-color);
}
footer{
    color: var(--primary-white-color);
    display: flex;
    justify-content: right;
    padding-inline-end: var(--margin-right);
    font-size: var(--font-size);
    gap: var(--font-size);
    margin-block-end: var(--margin-right);
}
.icon{
    border: 1px solid var(--primary-white-color);
    border-radius: 50%;
    padding: 0.6rem;
}
.icon:hover{
    color: var(--hover-color);
    cursor: pointer;
    border: 1px solid var(--hover-color);
}