:root{
    --purple: hsl(257, 40%, 49%);
    --magenta:hsl(300, 69%, 71%);
    --white: hsl(0, 0%, 100%);
    --off-white:hsl(0, 0%, 85%);
    --box-shadow: 0 0.1rem 1rem hsl(0, 0%, 18%);
}
body{
    margin: 0%;
    padding: 0%;
    background-color: var(--purple);
    background-image: url(bg-desktop.svg);
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 100vh;
}
header{
    margin: clamp(2.5rem, 4.5vw, 3rem);
}
header img{
    width: min(20%);
}
figure{
    display: flex;
    justify-content: center;
    margin-inline: clamp(2.5rem, 4.5vw, 3rem);
    gap: clamp(2.5rem, 4.5vw, 3rem);
    margin-block-end: 0%;
}
figure img{
    width: 50%;
}
figcaption{
    width: 45%;
    margin-block-start: clamp(2rem, 5vw, 2.5rem);
}
figcaption h1{
    margin-inline-end: clamp(1.5rem, 4vw, 2rem);
    font-size: clamp(2.5rem, 6vw, 3rem);
    margin-block: 0%;
    color: var(--white);
    font-family: 'Poppins', sans-serif;
}
figcaption p{
    font-size: clamp(1rem, 2vw, 1.25rem);
    font-family: 'Open Sans', sans-serif;
    line-height: 1.6;
    color: var(--off-white);
}
button{
    margin-block: clamp(0.7rem, 1.5vw, 1rem);
    padding-block: clamp(0.7rem, 1.5vw, 1rem);
    padding-inline: clamp(3rem, 6vw, 4rem);
    border: none;
    border-radius: clamp(2.5rem, 4.5vw, 3rem);
    font-size: clamp(0.875rem, 2vw, 1rem);
    box-shadow: var(--box-shadow);
    color: var(--purple);
    background-color: var(--white);
}
button:hover{
    cursor: pointer;
    background-color: var(--magenta);
    color: var(--white);
}
footer{
    display:flex;
    justify-content: flex-end;    
    gap: clamp(0.5rem, 1vw, 0.7rem);
    font-size: clamp(1rem, 2vw, 1.25rem);
    margin-inline: clamp(2.5rem, 4.5vw, 3rem);
    margin-block-start: 0%;
    margin-block-end: clamp(2.5rem, 4.5vw, 3rem);
}
.icon{
    border: 1px solid var(--off-white);
    border-radius: 50%;
    color: var(--white);
    padding: clamp(0.25rem, 1vw, 0.5rem);
    cursor: pointer;
    
}
.icon:hover{
    color: var(--magenta);
    border-color: var(--magenta);
}